.damage-reports-list{
    width: calc(100vw - 20px);
    box-sizing: border-box;
    padding: 20px;

    .damage-reports-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        flex-wrap: wrap;
        width: 100%;

        app-damage-report-card {
            display: flex;
            flex-direction: row;
            width: 340px;
        }
    }
}