<div class="daily-sheet-container">
  <!-- Left side - Task Cards -->
  <div class="tasks-section">
    <div class="header">
      <h3>Tasks</h3>
      
      <div class="list-grid-icons">
        <div 
          class="list-view-container" 
          (click)="toggleListGridView('list')" 
          [ngStyle]="{'background-color': listGridView === 'list' ? 'white' : 'transparent'}"
        >
          <mat-icon>view_list</mat-icon>
        </div>
        <div 
          class="grid-view-container" 
          (click)="toggleListGridView('grid')"
          [ngStyle]="{'background-color': listGridView === 'grid' ? 'white' : 'transparent'}"
        >
          <mat-icon>grid_on</mat-icon>
        </div>
      </div>
    </div>

    <div
      class="tasks-list tasks-list-grid"
      cdkDropList
      cdkDropListOrientation="mixed"
      id="tasks-list"
      [cdkDropListData]="taskCards"
      [cdkDropListConnectedTo]="getTeamTaskDropLists()"
      (cdkDropListDropped)="onDrop($event)"
      *ngIf="listGridView == 'grid'"
    >
      <div 
        class="task-card"
        *ngFor="let task of taskCards"
        cdkDrag
        [ngClass]="{'task-available': task.taskProgressType === 'Nije dodijeljeno'}"
      >
      <div class="task-number">{{ task.houseNumber }}</div>
      <mat-icon class="task-indicator">{{ getTaskIndicator(task) }}</mat-icon>
      </div>
      <div class="placeholder" *ngIf="taskCards.length === 0">
        No tasks available
      </div>
    </div>
    
    <ng-container *ngIf="listGridView == 'list'">
      <div *ngFor="let filteredTaskType of filteredTaskTypes">
        <div class="title-container" (click)="toggleExpandMinimize(filteredTaskType.task_type_name)">
          <mat-icon id="task-icon">{{ taskTypeIcon[filteredTaskType.task_type_name] }}</mat-icon>
          <h3>{{ filteredTaskType.task_type_name }}</h3>
          
          <mat-icon *ngIf="!expandedSections[filteredTaskType.task_type_name]" id="minimize-icon">minimize</mat-icon>
          <mat-icon *ngIf="expandedSections[filteredTaskType.task_type_name]" id="expand-icon">crop_square</mat-icon>
        </div>
        <div
          class="tasks-list"
          cdkDropList
          cdkDropListOrientation="mixed"
          id="tasks-list-{{filteredTaskType.task_type_name}}"
          [cdkDropListData]="taskCards | tasksFilter: [filteredTaskType.task_type_name]"
          [cdkDropListConnectedTo]="getAllDropLists()"
          (cdkDropListDropped)="onDrop($event)"
          [ngStyle]="{'display': !expandedSections[filteredTaskType.task_type_name] ? 'flex' : 'none'}"
        >
          <div 
            class="task-card"
            *ngFor="let task of taskCards | tasksFilter: [filteredTaskType.task_type_name]"
            cdkDrag
          >
            <div class="task-number">{{ task.houseNumber }}</div>
            <mat-icon class="task-indicator">{{ getTaskIndicator(task) }}</mat-icon>
            
            <!-- Custom drag preview -->
            <!-- <ng-template cdkDragPreview>
              <div class="task-card task-card-preview">
                <div class="task-number">{{ task.houseNumber }}</div>
                <mat-icon class="task-indicator">{{ getTaskIndicator(task) }}</mat-icon>
              </div>
            </ng-template> -->
          </div>
          <div class="placeholder" *ngIf="(taskCards | tasksFilter: [filteredTaskType.task_type_name]).length === 0">
            No tasks available
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Middle - Teams -->
  <div class="teams-section">
    <div class="teams-header">
      <h3>Teams</h3>
      <div class="teams-actions">
        <button class="new-team-btn" (click)="createNewTeam()">
          Create New Team
        </button>
        <button class="publish-btn" (click)="publishTeams()">Publish</button>
      </div>
    </div>

    <div class="teams-container">
      <div *ngIf="assignedTeams.length === 0" class="no-teams-message">
        No teams found for today. Create a new team to get started.
      </div>
      
      <div class="team-box" *ngFor="let team of assignedTeams">
        <div class="header-container">
          <h4>
            Team {{ team.id }} 
            <span *ngIf="teamStatus[team.id] === 'published'" class="locked-indicator">(Published)</span>
            <span *ngIf="teamStatus[team.id] === 'edited'" class="edited-indicator">(Edited)</span>
          </h4>
          <button class="delete-btn" (click)="deleteTeam(team.id)">Delete</button>
        </div>
        <div class="team-content" [ngClass]="{'locked': isTeamLocked(team.id)}">
          <div
            class="team-tasks"
            cdkDropList
            cdkDropListOrientation="mixed"
            [id]="'team-' + team.id + '-tasks'"
            [cdkDropListData]="team.tasks"
            [cdkDropListConnectedTo]="getAllDropLists()"
            (cdkDropListDropped)="onDrop($event)"
          >
            <div 
              class="task-card"
              *ngFor="let task of team.tasks"
              cdkDrag
              [ngClass]="{'task-available': task.taskProgressType === 'Nije dodijeljeno'}"
            >
            <div class="task-number">{{ task.houseNumber }}</div>
            <mat-icon class="task-indicator">{{ getTaskIndicator(task) }}</mat-icon>
              
              <!-- Custom drag preview -->
              <!-- <ng-template cdkDragPreview>
                <div class="task-card task-card-preview">
                  <div class="task-number">{{ task.houseNumber }}</div>
                  <mat-icon class="task-indicator">{{ getTaskIndicator(task) }}</mat-icon>
                </div>
              </ng-template> -->
            </div>
            <div class="placeholder" *ngIf="team.tasks.length === 0">
              Drop tasks here
            </div>
          </div>

          <div
            class="team-members"
            cdkDropList
            [id]="'team-' + team.id + '-members'"
            [cdkDropListData]="team.members"
            [cdkDropListConnectedTo]="getTeamMemberDropLists()"
            (cdkDropListDropped)="onDrop($event)"
          >
            <div
              class="member-card"
              *ngFor="let member of team.members"
              cdkDrag
            >
              {{ member.firstName }} {{ member.lastName }}
              <mat-icon id="role-icon">{{ roleIcon[member.role] }}</mat-icon>
            </div>
            <div class="placeholder" *ngIf="team.members.length === 0">
              Drop staff here
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right side - Cleaning Staff -->
  <div class="staff-section">
    <h3>Available Cleaning Staff</h3>
    <div class="staff-roles" *ngFor="let role of getStaffRoles()">    
      <div class="title-container" (click)="toggleExpandCollapseStaffWindow(role)">
        <mat-icon id="role-icon">{{ roleIcon[role] }}</mat-icon>
        <h4>{{ role }}</h4>
        <mat-icon *ngIf="!expandedStaffWindows[role]" id="minimize-icon">minimize</mat-icon>
        <mat-icon *ngIf="expandedStaffWindows[role]" id="expand-icon">crop_square</mat-icon>
      </div>
      <div
        class="staff-list"
        cdkDropList
        cdkDropListOrientation="vertical"
        [id]="'staff-list-' + role"
        [cdkDropListData]="availableStaff | staffRoles: role"
        [cdkDropListConnectedTo]="getStaffDropLists(role)"
        (cdkDropListDropped)="onDrop($event)"
        [ngStyle]="{'display': !expandedStaffWindows[role] ? 'flex' : 'none'}"
      >
        <div
          class="staff-card"
          *ngFor="let person of availableStaff | staffRoles: role"
          cdkDrag
          [class.unavailable]="!person.available"
        >
        {{ person.firstName }} {{ person.lastName }} 
        <mat-icon id="role-icon">{{ roleIcon[role] }}</mat-icon>
        </div>
        <div class="placeholder" *ngIf="(availableStaff | staffRoles: role).length === 0">
          No available staff members
        </div>
      </div>
    </div>
  </div>
</div>