<header class="main-header" *ngIf="username && !isCanvasV2Route">
  <div class="header-content">
    <div class="logo-stats-container">
      <div class="logo">
        <h1>PortonCare</h1>
      </div>
    </div>
    <button class="menu-toggle" (click)="toggleMenu()">
      <span class="hamburger" [class.active]="isMenuOpen">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </span>
    </button>
    <nav class="main-nav" [class.active]="isMenuOpen">
      <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active" (click)="closeMenu()">Dashboard</a></li>
        <li><a routerLink="/arrivals-and-departures" routerLinkActive="active" (click)="closeMenu()">Dolasci i odlasci</a></li>
        <li><a routerLink="/reservations2" routerLinkActive="active" (click)="closeMenu()">Rezervacija</a></li>
        <li><a routerLink="/daily-sheet" routerLinkActive="active" (click)="closeMenu()">Dnevni zadaci</a></li>
        <li><a routerLink="/teams" routerLinkActive="active" (click)="closeMenu()">Timovi</a></li>
        <li><a routerLink="/profiles" routerLinkActive="active" (click)="closeMenu()">Profili</a></li>
        <li><a routerLink="/damage-reports" routerLinkActive="active" (click)="closeMenu()">Popravci</a></li>
        <li><a routerLink="/design-system" routerLinkActive="active" (click)="closeMenu()">Design System</a></li>
        <li><a routerLink="/infinite-canvas" routerLinkActive="active" (click)="closeMenu()">Infinite Canvas</a></li>
        <!-- <li><a routerLink="/reservations" routerLinkActive="active" (click)="closeMenu()">Reservations</a></li> -->
        <li class="user-info">
          <span class="username">{{ username }}</span>
          <button class="logout-btn" (click)="logout()">Logout</button>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main class="main-content" [class.with-header]="username && !isCanvasV2Route">
  <router-outlet></router-outlet>

  <button class="report-unscheduled-task" (click)="openUnscheduledTaskReport()">
    <mat-icon>playlist_add</mat-icon>
  </button>

  <button class="fab" (click)="openRepairReport()">
    <mat-icon>build</mat-icon>
  </button>
</main>

<div (click)="undimBackground()" *ngIf="isBackgroundDimmed" class="dim-overlay">

</div>