<div class="repair-report-page">
    <div class="header">
      <button class="close-btn" (click)="goBack()">
        <mat-icon>close</mat-icon>
      </button>
      <h2>Prijava izvanrednog zadatka</h2>
    </div>
  
    <div class="content">
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Lokacija</mat-label>
          <mat-select [(ngModel)]="report.location" name="location" required>
            <mat-option  
              [ngStyle]="{'background-color': '#D0D2DC'}"
            >
              <ngx-mat-select-search 
                placeholderLabel="Pronađi kućicu..." 
                [formControl]="locationFilterCtrl"
                [noEntriesFoundLabel]="'Nema pronađenih kućica'"
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let mobileHome of filteredMobileHomes" [value]="mobileHome.house_id">
              {{ mobileHome.housename }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Vrsta zadatka</mat-label>
          <mat-select [(ngModel)]="report.taskType" name="task-type" required>
            <mat-option  
              [ngStyle]="{'background-color': '#D0D2DC'}"
            >
              <ngx-mat-select-search 
                placeholderLabel="Pronađi vrstu zadatka..." 
                [formControl]="taskTypesFilterCtrl"
                [noEntriesFoundLabel]="'Nema pronađenih vrsta zadataka'"
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let taskType of filteredTaskTypes" [value]="taskType.task_type_name">
              {{ taskType.task_type_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Opis</mat-label>
          <textarea matInput
                    [(ngModel)]="report.description"
                    name="description"
                    required
                    rows="4"
                    placeholder="Opiši zadatak..."></textarea>
        </mat-form-field>
  
        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!report.location && !report.taskType">
          Prijavi zadatak
        </button>
      </form>
    </div>
</div>